# End-to-End Test Credentials
# Create a copy of this file named '.env' and fill in the values below.
TEST_USER_EMAIL="[EMAIL_ADDRESS]"
TEST_USER_PASSWORD="[PASSWORD]"

ADMIN_USER_EMAIL="[ADMIN_EMAIL_ADDRESS]"
ADMIN_USER_PASSWORD="[ADMIN_PASSWORD]"
